
* 
{ 
    padding: 0; 
    margin: 0; 
} 

canvas 
{ 
    background: #4089f5 url(../src/img/cloudsn.gif)
    no-repeat; 
    background-size: cover;
    background-position: center;
    display: block; 
    margin: 0 auto; 
    size: inherit;
} 